<div class="card animated fadeIn fast">
    <img [src]="people.img" class="card-img-top" [alt]="people.name">
    <div class="card-body">
      <h5 class="card-title">{{people.name}}</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">{{people.created}}</small></p>

      <button (click)="verPeople()" type="button" class="btn btn-outline-primary btn-block"  >
        ver mas ...

      </button>
      </div>
  </div>
