

<div class="card" style="width: 18rem;" *ngFor="let pok of Pokemon">
        <img class="card-img-top" src="https://m.media-amazon.com/images/S/aplus-media/sota/27c9ea25-8d19-4689-ba20-ec5dce9f2465.__CR138,75,635,635_PT0_SX300_V1___.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{pok.nombre}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
</div>



