<div class="jumbotron animated fadeIn " style="background-color:rgb(245, 251, 250) " >
        <h1 class="display-4">Welcome to Stars Wars </h1>
        <p class="lead">«La fortaleza de un Jedi fluye de la Fuerza. Pero cuidado con el lado oscuro: Ira, temor, agresión; de la Fuerza del lado oscuro son. Fácil fluyen rápidos a unirse en el combate. Si una vez tomas el sendero del lado oscuro para siempre dominará tu destino. Te consumirá, al igual que lo hizo con el aprendiz de Obi-Wan.» (Yoda. STAR WARS, episodio V, El Imperio Contrataca)</p>
        <hr class="my-4">
        <p>«La fuerza estará ya contigo… siempre.»</p>
        
</div>